@page "/problems"

<h3>Problems</h3>
<MudList>
    <MudListItem>
        <MudText>MPM,VISL Closed</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Poor Basic Facilities Water,Drainage System </MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Govt Schools,COlleges All Collapsing</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>UnEmployment,People Leaving TO Other Places</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Narcotics & Young Road Rage</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Road Safety & Non Technical Roads</MudText>
    </MudListItem>
</MudList>

<h3>Reason & Solutions</h3>
<MudText>
    <MudListItem>
        <MudText>Stop Corruption its at Peak</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Bad Politics</MudText>
    </MudListItem>
    <MudListItem>
        <MudText>Stop Driverting People to Private Factories & Schools/Colleges</MudText>
    </MudListItem>
    
</MudText>
@* here lets add images of mpm,visl,govt schools,speedingBike,upper huttha divider *@
<MudImage Src="images/traffic.jpg" Height="200" Alt="Traffic Congestion Image" />
