@page "/schoolscolleges"

<h3>Schools & Colleges</h3>
<MudExpansionPanels>
    <MudExpansionPanel Text="Government Schools">
        <MudText>
            <p>A list of government schools in the city with contact information.</p>
            <p>**Note:** Currently facing closure issues. We're working on resolving them.</p>
        </MudText>

    </MudExpansionPanel>
    <MudExpansionPanel Text="Private Schools">
        <MudList>
            <MudListItem>
                <MudText>Private School 1</MudText>
            </MudListItem>
            <MudListItem>
                <MudText>Private School 2</MudText>
            </MudListItem>
        </MudList>
    </MudExpansionPanel>
</MudExpansionPanels>





@code {

}
