@page "/"
@using MudBlazor.Utilities
<PageTitle>@Title</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <div class="@ContentClassNames">
        <h3>Welcome to our world </h3>
    </div>
</MudContainer>
<AuthorizeView>
    <NotAuthorized>
        <div class="@ContentClassNames">
            <h3>Here any specific unauthorized related stuffs can be added</h3>
        </div>
    </NotAuthorized>
    <Authorized>
        <CleanArchitecture.Blazor.Server.UI.Pages.Dashboard.Dashboard></CleanArchitecture.Blazor.Server.UI.Pages.Dashboard.Dashboard>
    </Authorized>
</AuthorizeView>

@code
{
    public string Title { get; set; } = "Dashboard";
    private readonly bool IsMobile = false;
    protected string ContentClassNames => new CssBuilder("flex-grow-1 flex-shrink-1")
    .AddClass("pa-5", !IsMobile)
    .AddClass("px-8", IsMobile)
    .Build();

}